<div class="container">
    <header>
        <h1 style="color: rgb(60, 126, 98); font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder; text-align: center; font-size: 70px; margin-top: 40px;"><em>My</em> QUOTES</h1>      
    </header>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><em>Qoute-1:</em><br> When you leave Africa, <br>as the plane lifts, <br>
                        you feel that more than leaving a continent <br>
                        you’re leaving state of mind. <br>
                        Whatever awaits you at the other end <br>
                        of your journey will be of a different <br>order of existence </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quote-1</td>
                    <td>0</td>
                    <td>
                        <button class="btn">Upvote</button>
                    </td>
                    <td>
                        <button class="btn">Downvote</button> 
                    </td>
                    <td>
                        <button class="btn">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><em>Qoute-2:</em><br> A vow is fixed <br>
                        and unalterable determination to do a thing,<br> 
                        when such a determination is related <br>
                        to something noble which can only uplift <br>
                        the man who makes the resolve.
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quote-1</td>
                    <td>0</td>
                    <td>
                        <button class="btn">Upvote</button>
                    </td>
                    <td>
                        <button class="btn">Downvote</button> 
                    </td>
                    <td>
                        <button class="btn">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div>
            <button type="button">Add Quotes</button>
        </div> -->
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add your quote here
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

