<div class="container">
    <header>
        <h1 style="color: rgb(74, 163, 126); font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;"><em>My</em> QUOTES</h1>
        <div>
            <button type="button">Add Quotes</button>
        </div>
    </header>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Qoute</th>
                    <th>Votes</th>
                    <th>
                        <button>Upvote</button>
                        <button>Downvote</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quote</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
