<div class="container">
    <header>
        <h1 style="color: rgb(60, 126, 98); font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder; text-align: center; font-size: 70px; margin-top: 40px;"><em>My</em> QUOTES</h1>      
    </header>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><em>Qoute-1:</em><br> When you leave Africa, <br>as the plane lifts, <br>
                        you feel that more than leaving a continent <br>
                        you’re leaving state of mind. <br>
                        Whatever awaits you at the other end <br>
                        of your journey will be of a different <br>order of existence </th>
                    <!-- <th>
                        <button>Upvote</button>
                        <button>Downvote</button>
                    </th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quote-1</td>
                    <td>0</td>
                    <td>
                        <button>Upvote</button>
                    </td>
                    <td>
                        <button>Downvote</button> 
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button">Add Quotes</button>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><em>Qoute-2:</em><br> A vow is fixed <br>
                        and unalterable determination to do a thing,<br> 
                        when such a determination is related <br>
                        to something noble which can only uplift <br>
                        the man who makes the resolve.
                    <!-- <th>
                        <button>Upvote</button>
                        <button>Downvote</button>
                    </th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quote-2</td>
                    <td>0</td>
                    <td>
                        <button>Upvote</button>
                    </td>
                    <td>
                        <button>Downvote</button> 
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button">Add Quotes</button>
        </div>
    </div>
</div>

