<table class="table table-striped">
    <thead>
        <tr>
            <th><em>Qoute-2:</em><br> {{quote.quote}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Quote-1</td>
            <td>{{quote.votes}}</td>
            <td>
                <button class="btn" (click)="Upvote()">Upvote</button>
            </td>
            <td>
                <button class="btn"(click)="Downvote()">Downvote</button> 
            </td>
            <td>
                <button class="btn" (click)="Remove()">Delete</button>
            </td>
        </tr>
    </tbody>
</table>